@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

main,
nav#nav-main,
footer,
.header,
.spotifyBtn {
  position: relative;
  z-index: 1;
}

img {
  width: 100%
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/*////////////////SKIP LINKS/////////////////*/

.skip-link {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-link a {
  position: absolute;
  top: -10rem;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 0.75em;
  font-size: 1.25em;
}

.skip-link a:focus {
  top: 0;
}

footer p a,
footer p a:visited,
footer p a:hover {
  color: white;
}

footer p a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 90em) {
  html {
    font-size: 200%;
  }
  .box-call {
    bottom: 150px;
  }
  .title {
    font-size: 7rem;
  }
  #nav-trigger {
    left: 35%;
  }
}

@media only screen and (min-width: 160em) {
  html {
    font-size: 220%;
  }
  .box-call {
    bottom: 180px;
  }
}

.header {
  margin: 0;
  padding: 0;
  background-color: #0c0907;
  width: 100%;
}

.header-logo {
  position: relative;
  height: 2rem;
  width: auto;
}

/*//////////////////////NAVIGATION/////////////////////*/

.podcastlogo {
  position: relative;
  height: 1.7rem;
  width: auto;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-footer {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

.nav a {
  color: #FFF;
  display: inline-block;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav li {
  display: inline-block;
}

.nav-footer a {
  color: #212326;
  display: inline-block;
}

.nav-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-footer li {
  display: inline-block;
}

/*****************************underline animation************************************/
.hover-underline-animation-orange {
  display: inline-block;
  position: relative;
  /* color: #212326; */
}

.hover-underline-animation-orange:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff9650;
  color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-orange:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*////////////BANNER BILLBOARD///////////*/

.banner {
  position: relative;
  overflow: hidden;
  display: block;
}

.banner-img {
  padding-top: 47%;
  background: #0C0907 url(../images/3inthekey-BG_Basketball_Mic_3.png) no-repeat center center;
  background-size: cover;
}

.banner-content {
  position: absolute;
  /* background-color: rgba(255, 255, 255, 0.55); */
  bottom: 80px;
  width: 100%;
}

.title {
  font-size: 1.5745rem;
  line-height: 2.2750rem;
}



/*////////////PODCAST///////////*/

.info {
  max-width: 30em;
  margin: auto;
}

.box {
  max-width: 44em;
  text-align: center;
  /* margin: 0 auto; */
}
.icon {
  min-width: 45px !IMPORTANT;
  width: 8%;
}

.logoX {
  min-width: 45px !IMPORTANT;
  width: 10%;
  display: block;
}

/*////////////FOOTER///////////*/

footer {
  background-color: #ff9650;
}

footer p {
  color: white;
  text-align: center;
}


/*////////////ICONS FOOTER///////////*/

.ft-icon {
  min-width: 45px !IMPORTANT;
  width: 6%;
}

.box-ft {
  max-width: 50em;
  margin: 0 auto;
  text-align: center;
}


/*////////////////////// SPOTITY //////////////////////*/


.overlay {
  position: fixed;
  background: #0C0907;
  background: rgba(12,9,7,0.9);
  z-index: 0;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}

.overlay button {
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 0;
  height: 44px;
  width: 44px;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  color: black;
}

.spotify {
  height: 0;
  width: 100%;
  overflow: hidden;
}

.spotify iframe {
  position: fixed;
  /* bottom: 1.3rem; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  box-shadow: 0 1px 10px rgba(0,0,0,0.6);
}

.spotifyBtn {
  width: 50px;
  height: 50px;
  padding: 5px;
  position: fixed;
  bottom: 1.3rem;
  right: 1.3rem;
  background: white;
  border: none;
  border-radius: 7px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.6);
}


/*//////////////////////MEDIA QUERIES/////////////////*/

/* mobile */
@media only screen and (min-width: 27em) {
  nav#nav-mobile a {
    padding: 10px 20px;
  }
}

/* tablet portrait*/
@media only screen and (min-width: 48em) {
  html {
    font-size:120%;
  }
  .box-call {
    background-color: transparent;
    position: absolute;
    top: 1.5rem;
    font-size: 1.5745rem;
    line-height: 2.2750rem;
  }
  #nav-trigger {
    left: 30%;
  }
  .title {
    font-size: 3.5rem;
  }
  .spotifyBtn {
    width: 60px;
    height: 60px;
    padding: 8px;
  }
}

/* tablet landscape */
@media only screen and (min-width: 50em) {
  .box-call {
    top: 3rem;
  }
  .grid div {
    position: relative;
  }

  nav#nav-main a:hover {
    background-color: transparent;
    color: #000;
  }
}

/* desktop */
@media only screen and (min-width: 62em) {
  html {
    font-size: 150%;
  }
  .title {
    font-size: 4.5rem;
  }
  #nav-trigger {
    display: none;
  }
  nav#nav-mobile {
    display: none;
  }
  nav#nav-main {
    display: block;
  }
  nav {
    margin-bottom: 0;
  }
  .header a {
    text-align: center;
  }
  .header-logo {
    height: 2rem;
  }
  .spotifyBtn {
    width: 70px;
    height: 70px;
    padding: 8px;
  }
}

@media only screen and (max-width: 75em) {
  nav#nav-main li:last-child {
    margin-top: 0.75rem;
  }
}

@media only screen and (min-width: 75em) {
  html {
    font-size: 190%;
  }
}
